<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1086885350102-upckag1ujgd44if5qsbntu4hokblo9dk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1086885350102-upckag1ujgd44if5qsbntu4hokblo9dk</string>
	<key>API_KEY</key>
	<string>AIzaSyAlKvlvJzrHL8ASnftzFlcNzhRW6yQAWRw</string>
	<key>GCM_SENDER_ID</key>
	<string>1086885350102</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.workoutapp</string>
	<key>PROJECT_ID</key>
	<string>workoutapp-150a1</string>
	<key>STORAGE_BUCKET</key>
	<string>workoutapp-150a1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1086885350102:ios:d725a1ff529c9b8692d777</string>
</dict>
</plist>